<div style="text-align:center">
    <div style="display: inline-block;">
        <h1>Assigned Courses</h1>  
        
         
        
    </div>
    
</div>

<div id='prof_calendar'>
    
   
</div>